* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  }

h1 {
  color: black;
  }

.bg_col{
  background-color: rgb(71, 171, 241)
}

.bg_white{
background-color: white;
}

.bg_black{
  background-color: rgb(4, 29, 46)
}

.text_center {
  text-align: center;
}

.p_10{
  padding: 10px;
}

.p_20{
  padding: 20px;
}

.p_50{
  padding: 50px;
}


.text_white {
  color: white;
}

.text_black{
  color: black;
}


  #b {
    
    list-style-type: square;
  }

  .circular-image {
    width: 300px;
    height: 400px;
    border-radius: 50%;
  }

  .title_name {
    font-family: "Cookie", cursive;
    font-weight: 600;
    font-style: normal;
    font-size: 80px;
  }

  .title_abme {
    font-family: "Rum Raisin", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 45px;

  }

  .font_p {
    font-family: "Darker Grotesque", sans-serif;
    font-optical-sizing: auto;
    font-weight: 30;
    font-style: normal;
    font-size: 40px;
  }


  #font_me {
    font-family: "Darker Grotesque", sans-serif;
    font-optical-sizing: auto;
    font-weight: 30;
    font-style: normal;
    font-size: 60px;

  }
  
  
    
